Repository wazo-platform/wazo-js-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, jsonlint --quiet

.lintstagedrc:

{
  "*.js": ["eslint", "git add"],
  ".*rc": ["jsonlint --quiet", "git add"]
}

add not available presence
  src/domain/Profile.js
Due: eslint

add methode to get not available presence and string presence for constant
  src/domain/Contact.js
Due: eslint

Add calld to README
  README.md
Due: none

0.20.4
  package.json
Due: none

Add sip_call_id in Call domain
  src/domain/Call.js
Due: eslint

0.20.5
  package.json
Due: none

add away state
  src/domain/Contact.js
  src/domain/Profile.js
Due: eslint

0.20.6
  package.json
Due: none

Compare also source when comparing Contacts
  package.json
  src/api/calld.js
  src/domain/Contact.js
  src/domain/__tests__/Contact.test.js
Due: eslint

Fix test
  .babelrc
  .flowconfig
  package.json
  rollup.config.js
  src/utils/__tests__/PhoneNumberUtil.test.js
  yarn.lock
Due: eslint, jsonlint --quiet

0.21.0
  package.json
Due: none

Fix the way engine versions are compared
  src/domain/Contact.js
  src/domain/Session.js
  src/domain/__tests__/Session.test.js
  src/utils/__tests__/compare-version.test.js
  src/utils/compare-version.js
  yarn.lock
Due: eslint

0.21.1
  package.json
Due: none

Force version comparison has strings
  package.json
  src/domain/Session.js
Due: eslint

Add Relocation domain
  src/api/ctid-ng.js
  src/domain/Relocation.js
  src/index.js
  src/utils/compare-version.js
Due: eslint

0.21.3
  package.json
Due: none

Fix build on browser
  package.json
  rollup.config.js
  src/web-rtc-client.js
  yarn.lock
Due: eslint

Avoid to use RTCPeerConnection.getLocalStreams/getRemoteStreams which are deprecated
  rollup.config.js
  src/web-rtc-client.js
Due: eslint

0.21.4
  package.json
Due: none

Add CallSession, Conference, IndirectTransfer and SwitchboardCall domains
  src/api/calld.js
  src/domain/CallSession.js
  src/domain/Conference.js
  src/domain/IndirectTransfer.js
  src/domain/Phone/DebugPhone.js
  src/domain/Phone/Phone.js
  src/domain/SwitchboardCall.js
  src/domain/__tests__/Conference.test.js
  src/domain/__tests__/IndirectTransfer.test.js
  src/index.js
  src/sip.js
Due: eslint

0.21.5
  package.json
Due: none

Expose type to class to allow check with minified code
  src/api/ctid-ng.js
  src/domain/Call.js
  src/domain/CallLog.js
  src/domain/ChatMessage.js
  src/domain/ChatRoom.js
  src/domain/Contact.js
  src/domain/Line.js
  src/domain/Voicemail.js
Due: eslint

0.21.6
  package.json
Due: none

Expose type to instance to allow check with minified code
  src/domain/Call.js
  src/domain/CallLog.js
  src/domain/ChatMessage.js
  src/domain/ChatRoom.js
  src/domain/Contact.js
  src/domain/Line.js
  src/domain/Voicemail.js
Due: eslint

0.21.7
  package.json
Due: none

Add number when parsing conference contact
  package.json
  src/domain/Contact.js
Due: eslint

Add Room domain
  package.json
  src/domain/Room.js
  src/domain/__tests__/Room.test.js
  src/index.js
Due: eslint

Move WebSocketMessage type to SDK
  src/index.js
  src/types/WebSocketMessage.js
  src/websocket-client.js
Due: eslint

0.21.10
  package.json
Due: none

Move CTIPhone domain
  .eslintrc
  src/domain/CallSession.js
  src/domain/Phone/CTIPhone.js
  src/domain/Phone/DebugPhone.js
  src/domain/Phone/Phone.js
  src/index.js
  src/services/CallApi.js
  src/services/getApiClient.js
Due: eslint, jsonlint --quiet

Move WebRTCPhone to SDK
  src/domain/Phone/CTIPhone.js
  src/domain/Phone/Phone.js
  src/domain/Phone/WebRTCPhone.js
  src/service/CallApi.js
  src/service/getApiClient.js
  src/types/WebSocketMessage.js
  src/web-rtc-client.js
Due: eslint

0.22.0
  package.json
Due: none

Fix several issues with WebRtcClient and CallSession on mobile
  rollup.config.js
  src/domain/CallSession.js
  src/domain/Phone/CTIPhone.js
  src/domain/Phone/Phone.js
  src/domain/Phone/WebRTCPhone.js
  src/lib/MobileSessionDescriptionHandler.js
  src/web-rtc-client.js
Due: eslint

0.22.1
  package.json
Due: none

Fix missing WebRtcPhone methods
  package.json
  src/domain/Phone/CTIPhone.js
  src/domain/Phone/Phone.js
  src/domain/Phone/WebRTCPhone.js
Due: eslint

Introduce updateFrom in some domain
  package.json
  src/domain/CallSession.js
  src/domain/IndirectTransfer.js
  src/domain/Phone/WebRTCPhone.js
  src/domain/Room.js
  src/domain/SwitchboardCall.js
  src/domain/__tests__/CallSession.test.js
  src/utils/update-from.js
Due: eslint

unbind events on webRTC UA when switching input/ouput devices
  src/web-rtc-client.js
Due: eslint

0.22.4
  package.json
Due: none

Remove hack on mobile with video call
  package.json
  src/lib/MobileSessionDescriptionHandler.js
Due: eslint

CallLog: Use requested_extension when destination_extension is not filled
  src/domain/CallLog.js
Due: eslint
