Repository wazo-platform/wazo-js-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, jsonlint --quiet

0.33.36
  package.json
Due: none

Fix hold on answer
  src/domain/Phone/WebRTCPhone.js
Due: eslint

Fix unregister issues
  src/domain/Phone/WebRTCPhone.js
  src/web-rtc-client.js
Due: eslint

0.33.37
  package.json
Due: none

Fix bad rebase
  src/web-rtc-client.js
Due: eslint

WDA-1403: Fix hangup on audio-answer video calls
  src/web-rtc-client.js
Due: eslint

0.33.38
  package.json
Due: none

Dispo registered when unregistering
  src/web-rtc-client.js
Due: eslint

Fix iceGatheringTimeout retrieval
  src/web-rtc-client.js
Due: eslint

Set logLevel to debug when enabled
  src/service/IssueReporter.js
  src/simple/Phone.js
  src/web-rtc-client.js
Due: eslint

Use also iceCheckingTimeout for iceGatheringTimeout in WebRtcClient
  src/web-rtc-client.js
Due: eslint

0.33.39
  package.json
Due: none

Add dird import contact endpoint
  src/api/dird.js
Due: eslint

Minor improvements
  src/domain/Phone/WebRTCPhone.js
  src/simple/Phone.js
  src/web-rtc-client.js
Due: eslint

Fix imported contact parsing in dird
  src/api/dird.js
Due: eslint

0.33.40
  package.json
Due: none

Wrap error in BadResponse exception
  src/domain/BadResponse.js
Due: eslint

0.33.41
  package.json
Due: none

Fix flow
  src/api/dird.js
Due: eslint

Fix PeerConnection configuration
  src/web-rtc-client.js
Due: eslint

0.33.42
  package.json
Due: none

Filter contacts without sourceId
  src/domain/Contact.js
Due: eslint

Add fluentd client
  package.json
  src/service/IssueReporter.js
  yarn.lock
Due: eslint

Send log to fluentd with http
  package.json
  src/service/IssueReporter.js
  src/utils/api-requester.js
  yarn.lock
Due: eslint

0.34.0-rc.3
  package.json
Due: none

Check form Symmetric NAT in stack checks
  src/checker/checks/index.js
  src/checker/checks/symmetric-nat.js
  src/checker/checks/webrtc-transport.js
Due: eslint

Add ice IPv4 checks
  src/checker/checks/ice-ipv4.js
  src/checker/checks/index.js
  src/domain/Contact.js
  src/lib/WazoSessionDescriptionHandler.js
  src/utils/webrtc.js
Due: eslint

Fix linting
  .eslintrc
Due: jsonlint --quiet

Code review
  src/checker/checks/ice-ipv4.js
Due: eslint

Allow to upgrade/downgrade video
  src/domain/Phone/WebRTCPhone.js
  src/lib/WazoSessionDescriptionHandler.js
  src/simple/Phone.js
  src/web-rtc-client.js
Due: eslint

Improve video upgrade/downgrade
  src/domain/Phone/Phone.js
  src/domain/Phone/WebRTCPhone.js
  src/simple/Phone.js
  src/simple/room/Stream.js
  src/web-rtc-client.js
Due: eslint

Set logLevel to debug when enabled
  src/web-rtc-client.js
Due: eslint

Allow to upgrade/downgrade video
  src/simple/Phone.js
Due: eslint

Improve video upgrade/downgrade
  src/web-rtc-client.js
Due: eslint

Fix rebase
  src/domain/Phone/WebRTCPhone.js
  src/simple/Phone.js
  src/simple/room/Room.js
  src/simple/room/Stream.js
  src/web-rtc-client.js
Due: eslint

Code review
  src/web-rtc-client.js
Due: eslint

Add log category and verbosity
  package.json
  src/service/IssueReporter.js
  src/service/__tests__/IssueReporter.test.js
Due: eslint

Path conditions:
  eslint: any of: *.js
  jsonlint --quiet: any of: .*rc
