Repository wazo-platform/wazo-js-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, jsonlint --quiet

0.32.43
  package.json
Due: none

Only stop video input on video input change
  src/web-rtc-client.js
Due: eslint

api-requester: include 201 as success status code
  src/utils/api-requester.js
Due: eslint

0.32.44
  package.json
Due: none

simple/Room: handle video input change
  src/domain/Phone/WebRTCPhone.js
  src/simple/room/Room.js
  src/web-rtc-client.js
Due: eslint

Move event trigger in saveLocalVideoStream
  src/simple/room/Room.js
Due: eslint

Proper binding
  src/simple/room/Room.js
Due: eslint

0.32.45
  package.json
Due: none

First try to migrate to sip.js 0.17
  package.json
  src/domain/Phone/WebRTCPhone.js
  src/index.js
  src/lib/MobileSessionDescriptionHandler.js
  src/simple/Configuration.js
  src/simple/Phone.js
  src/simple/index.js
  src/simple/room/Room.js
  src/sip.js
  src/web-rtc-client.js
  yarn.lock
Due: eslint

Update sip.js SDK
  src/domain/Phone/WebRTCPhone.js
  src/simple/Configuration.js
  src/simple/Phone.js
  src/web-rtc-client.js
Due: eslint

Update hold and hangup methods
  src/simple/Phone.js
  src/web-rtc-client.js
Due: eslint

Handle PAI with sip.js 0.17
  .eslintrc
  src/domain/Phone/WebRTCPhone.js
  src/lib/MobileSessionDescriptionHandler.js
  src/web-rtc-client.js
Due: eslint, jsonlint --quiet

Fix atxfer with new sip.js api
  src/domain/Phone/WebRTCPhone.js
  src/web-rtc-client.js
Due: eslint

Fix video stream when answering a call
  src/domain/Phone/WebRTCPhone.js
  src/web-rtc-client.js
Due: eslint

0.33.0-rc.1
  package.json
Due: none

0.33.0-rc.2
  package.json
Due: none

Fix sip heartbeat
  src/web-rtc-client.js
Due: eslint

Fix sipCallId length
  src/web-rtc-client.js
Due: eslint

Extends sip.js sdh to re-add setDescription event
  src/web-rtc-client.js
Due: eslint

Fix MESSAGE sending and retrieval with sip.js 0.17
  src/domain/Phone/WebRTCPhone.js
  src/web-rtc-client.js
Due: eslint

Fix MESSAGE response and some other things
  src/domain/Phone/CTIPhone.js
  src/domain/Phone/Phone.js
  src/domain/Phone/WebRTCPhone.js
  src/web-rtc-client.js
Due: eslint

0.33.0-rc.3
  package.json
Due: none

Fix reconnection
  src/domain/Phone/WebRTCPhone.js
  src/web-rtc-client.js
Due: eslint

0.33.0-rc.4
  package.json
  src/domain/Phone/WebRTCPhone.js
Due: eslint

Fix invite that prevent the Establishing state to be listened
  src/domain/Phone/WebRTCPhone.js
  src/web-rtc-client.js
Due: eslint

Fix session id retrieval
  src/web-rtc-client.js
Due: eslint

Update deps
  .gitignore
  package.json
  src/domain/Phone/WebRTCPhone.js
  src/lib/WazoSessionDescriptionHandler.js
  yarn.lock
Due: eslint

0.33.0-rc.5
  package.json
Due: none

0.33.0-rc.6
  package.json
Due: none

Update sdh for mobile
  src/lib/WazoSessionDescriptionHandler.js
  src/web-rtc-client.js
Due: eslint

0.33.0-rc.7
  package.json
Due: none

Fix mobile createOffer
  src/domain/Phone/WebRTCPhone.js
  src/lib/WazoSessionDescriptionHandler.js
  src/web-rtc-client.js
Due: eslint

0.33.0-rc.8
  package.json
Due: none

Remove mobile sdh
  src/lib/MobileSessionDescriptionHandler.js
  src/web-rtc-client.js
Due: eslint

Fix mobile issues with sip.js 0.17
  src/lib/WazoSessionDescriptionHandler.js
  src/web-rtc-client.js
Due: eslint

0.33.0-rc.9
  package.json
Due: none

More defensive condition
  src/web-rtc-client.js
Due: eslint

Update localMediaStream when changing camera device
  src/domain/Phone/WebRTCPhone.js
  src/simple/Phone.js
  src/web-rtc-client.js
Due: eslint

0.33.0-rc.10
  package.json
Due: none

Fix linting
  src/domain/Phone/WebRTCPhone.js
  src/lib/WazoSessionDescriptionHandler.js
Due: eslint

Path conditions:
  eslint: any of: *.js
  jsonlint --quiet: any of: .*rc
