Repository wazo-platform/wazo-js-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, jsonlint --quiet

.lintstagedrc:

{
  "*.js": ["eslint", "git add"],
  ".*rc": ["jsonlint --quiet", "git add"]
}

Convert numerical sourceId to string when parsing conference contacts
  src/domain/Contact.js
Due: eslint

0.18.12
  package.json
Due: none

Add getSenderId method for PushNotification
  src/api/auth.js
Due: eslint

Fix linting
  .eslintrc
  src/api/application.js
  src/api/auth.js
  src/api/chatd.js
  src/api/confd.js
  src/api/dird.js
  src/domain/BadResponse.js
  src/domain/ChatMessage.js
  src/domain/Contact.js
  src/domain/__tests__/Contact.test.js
  src/domain/__tests__/Line.test.js
  src/domain/__tests__/Profile.test.js
  src/domain/__tests__/Session.test.js
  src/utils/api-requester.js
  src/web-rtc-client.js
Due: eslint, jsonlint --quiet

0.18.13
  package.json
Due: none

Import sip.js file directly
  src/lib/MobileSessionDescriptionHandler.js
  src/web-rtc-client.js
Due: eslint

Run yarn format
  src/api/auth.js
  src/lib/MobileSessionDescriptionHandler.js
Due: eslint

0.18.14
  package.json
Due: none

Use id instead of uuid for Contact sourceId when parsing internal contacts
  src/domain/Contact.js
Due: eslint

0.18.15
  package.json
Due: none

fix mobility header (https://sipjs.com/api/0.13.0/register/#extracontactheaderparams)
  src/web-rtc-client.js
Due: eslint

Try to fix moh on hold
  src/lib/MobileSessionDescriptionHandler.js
  src/web-rtc-client.js
Due: eslint

0.18.16
  package.json
Due: none

0.18.16 bis
  package.json
Due: none

0.18.17
  package.json
Due: none

Bundle CJS files
  .gitignore
  package.json
  rollup.config.js
Due: eslint

0.18.18
  package.json
Due: none

Revert mobility: mobility to mobility=mobility
  src/web-rtc-client.js
Due: eslint

0.18.19
  package.json
Due: none

confd -> infos
  src/api/confd.js
Due: eslint

Add engineVersion to Session and update primary context logic
  src/api/confd.js
  src/domain/Session.js
Due: eslint

Simplify context parsing and add tests
  src/domain/Session.js
  src/domain/__tests__/Session.test.js
Due: eslint

0.18.20
  package.json
Due: none

Register after a disconnect event
  rollup.config.js
  src/api/confd.js
  src/web-rtc-client.js
Due: eslint

0.19.0
  package.json
Due: none

Fix _bindRegistrationEvents in WebRtcClient
  src/web-rtc-client.js
Due: eslint

0.19.1
  package.json
Due: none

add info about `esm` vs. `lib` version
  README.md
Due: none

Introduce reinit method
  src/web-rtc-client.js
Due: eslint

0.19.2
  package.json
Due: none

Add getUserLineSipFromToken
  src/api/confd.js
Due: eslint

Retrieve sip line info in WebRtcClient
  README.md
  src/web-rtc-client.js
Due: eslint

Rename session to sipSession in doc
  README.md
Due: none

0.20.0
  package.json
Due: none

Get participants for conference
  src/api-client.js
  src/api/calld.js
  src/index.js
Due: eslint

Remove video section from sdp when video not active
  src/lib/MobileSessionDescriptionHandler.js
Due: eslint

0.20.1
  package.json
Due: none

Add initialized event in WebsocketClient
  src/websocket-client.js
Due: eslint

0.20.2
  package.json
Due: none

0.20.3
  package.json
Due: none
