Repository wazo-platform/wazo-js-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, jsonlint --quiet

Add CallSession.disableCamera method
  src/domain/CallSession.js
Due: eslint

Fix flow config
  .flowconfig
Due: none

Remove useless SDP transformations
  src/lib/WazoSessionDescriptionHandler.js
Due: eslint

Replace local video track when a remote video already exists
  src/domain/Phone/WebRTCPhone.js
  src/simple/Phone.js
  src/web-rtc-client.js
Due: eslint

Remove useless setLocalSessionDescription
  src/lib/WazoSessionDescriptionHandler.js
Due: eslint

Put remote video stream back when upgrading a call answered in audio
  src/domain/Phone/WebRTCPhone.js
  src/simple/Phone.js
Due: eslint

Fix flow
  src/simple/Phone.js
Due: eslint

Improve sessionWantsToVideo and disable waitForGatheredIce when receiving a reinvite
  src/domain/Phone/WebRTCPhone.js
  src/lib/WazoSessionDescriptionHandler.js
  src/simple/Phone.js
  src/simple/room/Room.js
  src/utils/__tests__/sdp.test.js
  src/utils/sdp.js
  src/web-rtc-client.js
Due: eslint

Try to fix local video in conferences
  src/domain/Phone/WebRTCPhone.js
  src/lib/WazoSessionDescriptionHandler.js
  src/simple/Phone.js
  src/simple/room/Room.js
  src/web-rtc-client.js
Due: eslint

room: fix local mediastream
  src/simple/room/Room.js
Due: eslint

room: remove hardcoded video stream sender
  src/simple/room/Room.js
Due: eslint

Missing variable declaration
  src/simple/room/Room.js
Due: eslint

Remove hack on modified sdk
  src/web-rtc-client.js
Due: eslint

Move reinvite video stream logic into WebRTCPhone
  src/domain/Phone/WebRTCPhone.js
  src/simple/Phone.js
Due: eslint

Fix reinvite with custom video deviceId in 1:1 calls
  src/domain/Phone/WebRTCPhone.js
  src/simple/room/Room.js
  src/web-rtc-client.js
Due: eslint

Handle code review
  src/utils/__tests__/sdp.test.js
  src/utils/sdp.js
  src/web-rtc-client.js
Due: eslint

Add recordings in call logs
  src/domain/CallLog.js
  src/domain/Recording.js
  src/domain/__tests__/CallLog.test.js
  src/index.js
  src/simple/index.js
Due: eslint

0.36.0
  package.json
Due: none

Upgrade/Downgrade video with replaceTrack instead of reinvite each time
  .eslintrc
  src/domain/Phone/CTIPhone.js
  src/domain/Phone/Phone.js
  src/domain/Phone/WebRTCPhone.js
  src/lib/WazoSessionDescriptionHandler.js
  src/simple/Phone.js
  src/utils/sdp.js
  src/web-rtc-client.js
Due: eslint, jsonlint --quiet

Allow to upgrade video directly for screenshare in web and desktop
  src/domain/Phone/CTIPhone.js
  src/domain/Phone/WebRTCPhone.js
  src/lib/WazoSessionDescriptionHandler.js
  src/web-rtc-client.js
Due: eslint

Refactor screensharing stream
  src/domain/Phone/WebRTCPhone.js
  src/simple/room/Room.js
  src/web-rtc-client.js
Due: eslint

Workaround video upgrade in SFU mode
  src/domain/Phone/WebRTCPhone.js
  src/lib/WazoSessionDescriptionHandler.js
  src/simple/room/Room.js
  src/web-rtc-client.js
Due: eslint

Fix local stream in audio or video
  src/simple/Phone.js
  src/web-rtc-client.js
Due: eslint

Fix local media display
  src/simple/Phone.js
  src/web-rtc-client.js
Due: eslint

Fix conference reinvite
  src/domain/Phone/WebRTCPhone.js
  src/simple/room/Room.js
Due: eslint

Fix linting
  src/utils/api-requester.js
Due: eslint

Improve reinvite in conferences
  src/domain/Phone/WebRTCPhone.js
  src/simple/room/Room.js
  src/web-rtc-client.js
Due: eslint

0.37.0-rc.1
  package.json
Due: none

Improve Room downgrade with screenshare
  src/simple/room/Room.js
  src/simple/room/Stream.js
  src/web-rtc-client.js
Due: eslint

0.37.0-rc.2
  package.json
Due: none

Fix room screensharing
  src/simple/room/Room.js
Due: eslint

Fix empty contact name
  src/domain/Contact.js
  src/web-rtc-client.js
Due: eslint

Fix track update message after stop screensharing
  src/domain/Phone/WebRTCPhone.js
  src/simple/room/Room.js
Due: eslint

Fix tests
  src/domain/__tests__/Session.test.js
  src/service/__tests__/IssueReporter.test.js
  src/utils/__tests__/api-requester.test.js
Due: eslint

Use empty canvas stream to reinvite in SFU
  src/domain/Phone/WebRTCPhone.js
  src/lib/WazoSessionDescriptionHandler.js
  src/simple/room/Room.js
  src/simple/room/Stream.js
  src/web-rtc-client.js
Due: eslint

readme
  README.md
Due: none

Screw you zuul, just screw you...
  zuul.d/run.yaml
Due: none

Replace video sender with a blakc canvas in SFU mode
  src/domain/Phone/WebRTCPhone.js
  src/simple/room/Room.js
  src/web-rtc-client.js
Due: eslint

Test
  README-dev.md
Due: none

Revert usage of a video element to send audio in 1:1
  src/domain/Phone/WebRTCPhone.js
  src/lib/WazoSessionDescriptionHandler.js
  src/simple/Phone.js
  src/web-rtc-client.js
Due: eslint

Path conditions:
  eslint: any of: *.js
  jsonlint --quiet: any of: .*rc
