Repository wazo-platform/wazo-js-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, jsonlint --quiet

.lintstagedrc:

{
  "*.js": ["eslint", "git add"],
  ".*rc": ["jsonlint --quiet", "git add"]
}

Update application.js
  src/api/application.js
Due: eslint

Try with sip 11.1
  dist/wazo-sdk.js
  src/lib/sip-0.11.1.js
  src/lib/sip-0.11.6.js
  src/web-rtc-client.js
Due: eslint

put babel/plugin-transform-flow-strip-types in test env
  .babelrc
  yarn.lock
Due: jsonlint --quiet

Revert sip.js to hacked version
  dist/wazo-sdk.js
  package-lock.json
  package.json
  src/lib/sip-0.11.6.js
  src/web-rtc-client.js
Due: eslint

get rid of .babelrc from npm package
  .npmignore
Due: none

Remove console log from peerconnection hack
  dist/wazo-sdk.js
  src/web-rtc-client.js
Due: eslint

Revert sip to 0.11.1
  dist/wazo-sdk.js
  src/lib/sip-0.11.1.js
  src/lib/sip-0.11.6.js
  src/web-rtc-client.js
Due: eslint

Use custom SessionDescriptionHandler
  dist/wazo-sdk.js
  package.json
  src/api/ctid-ng.js
  src/api/dird.js
  src/domain/Call.js
  src/lib/MobileSessionDescriptionHandler.js
  src/lib/sip-0.11.1.js
  src/lib/sip-0.11.6.js
  src/web-rtc-client.js
  yarn.lock
Due: eslint

Bump to v0.7.0
  package.json
Due: none

Allow to debug SIP
  dist/wazo-sdk.js
  src/web-rtc-client.js
Due: eslint

Fix type, see sip.js#52c3d6c8
  dist/wazo-sdk.js
  src/lib/MobileSessionDescriptionHandler.js
Due: eslint

Format code
  dist/wazo-sdk.js
  src/api/application.js
Due: eslint

Fix getUserMedia immutable constraints on android
  dist/wazo-sdk.js
  src/lib/MobileSessionDescriptionHandler.js
Due: eslint

Created a new build
  dist/wazo-sdk.js
Due: eslint

Set missing bundle fix as a modified
  dist/wazo-sdk.js
  src/lib/MobileSessionDescriptionHandler.js
Due: eslint

Fix immutation constraints on android
  dist/wazo-sdk.js
  src/lib/MobileSessionDescriptionHandler.js
Due: eslint

Use max-compat for bundlePolicy
  dist/wazo-sdk.js
  src/web-rtc-client.js
Due: eslint

Bump to v0.7.1
  package.json
Due: none

Add a modifier to bundle missing bundle
  dist/wazo-sdk.js
  src/lib/MobileSessionDescriptionHandler.js
Due: eslint

Bump to v0.7.2
  package.json
Due: none

Added a method to know if the session can retrieve voicemails or not
  dist/wazo-sdk.js
  package-lock.json
  src/domain/Profile.js
  src/domain/Session.js
  src/domain/__tests__/Session.test.js
Due: eslint

Expose SIP
  dist/wazo-sdk.js
  src/index.js
Due: eslint

Bump to v0.7.3
  package.json
Due: none

Backport sipjs CRLF fix #f338c112f
  dist/wazo-sdk.js
  src/domain/Call.js
  src/lib/sip-0.11.1.js
  src/web-rtc-client.js
Due: eslint

Use momentjs to parse dates
  dist/wazo-sdk.js
  package.json
  src/domain/Call.js
  src/domain/CallLog.js
  src/domain/ChatMessage.js
  src/domain/Voicemail.js
  src/domain/__tests__/CallLog.test.js
  webpack.config.js
  yarn.lock
Due: eslint

Bump tp v0.7.4
  package.json
Due: none

Use sipjs 0.11.6
  dist/wazo-sdk.js
  package-lock.json
  package.json
  src/index.js
  src/lib/sip-0.11.1.js
  src/web-rtc-client.js
  yarn.lock
Due: eslint

Update MobileSessionDescriptionHandler to match sip.js 0.11.6
  dist/wazo-sdk.js
  src/api/application.js
  src/domain/Profile.js
  src/domain/__tests__/Session.test.js
  src/domain/__tests__/Voicemail.test.js
  src/lib/MobileSessionDescriptionHandler.js
  src/web-rtc-client.js
Due: eslint

Bump to v0.8.0
  package.json
Due: none

Add hasExpired function
  dist/wazo-sdk.js
  src/domain/Session.js
  src/domain/__tests__/Session.test.js
Due: eslint

Use new Date to parse the UTC date to local
  src/domain/Session.js
Due: eslint

Console log to help understand
  src/domain/Session.js
Due: eslint

Use milliseconds since for comparing dates
  dist/wazo-sdk.js
  src/domain/Session.js
  src/domain/__tests__/Session.test.js
Due: eslint

Fix the utc problem
  src/domain/Session.js
Due: eslint

Update dist with latest version
  dist/wazo-sdk.js
Due: eslint

Make utcExpiresAt a date and make the tests pass
  dist/wazo-sdk.js
  src/domain/Session.js
  src/domain/__tests__/Session.test.js
Due: eslint

Fix missing favorited attribute in Contact constructor
  dist/wazo-sdk.js
  src/domain/Contact.js
Due: eslint

Bump to v0.8.1
  package.json
Due: none

Minor changes after pull request review
  dist/wazo-sdk.js
  src/domain/Session.js
  src/domain/__tests__/Session.test.js
Due: eslint

Fix createOffer with constraints
  src/web-rtc-client.js
Due: eslint
