Repository wazo-platform/wazo-js-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, jsonlint --quiet

.lintstagedrc:

{
  "*.js": ["eslint", "git add"],
  ".*rc": ["jsonlint --quiet", "git add"]
}

Fix jest transform config
  .babelrc
  babel.config.js
  package.json
Due: eslint, jsonlint --quiet

0.34.24
  package.json
Due: none

Fix WS initialization after heartbeat timeout
  src/websocket-client.js
Due: eslint

0.34.25
  package.json
Due: none

Store ringing state in a boolean for a Contact
  src/domain/Contact.js
  src/domain/Phone/CTIPhone.js
  src/domain/Phone/WebRTCPhone.js
  src/web-rtc-client.js
Due: eslint

Add online_call_record_enabled attribute in Profile
  src/domain/Profile.js
Due: eslint

Update tests
  src/domain/Profile.js
  src/domain/__tests__/Profile.test.js
Due: eslint

0.34.26
  package.json
Due: none

Fix current callSession retrieving
  src/domain/Phone/WebRTCPhone.js
Due: eslint

Allow to customize fetch options
  README.md
  src/api-client.js
  src/service/getApiClient.js
  src/simple/Auth.js
  src/utils/api-requester.js
Due: eslint

Fix missing fetchOptions in ApiClient
  src/api-client.js
Due: eslint

Try to register again when a transport error occurs
  src/web-rtc-client.js
Due: eslint

Handle register issues with onReject delegate
  src/web-rtc-client.js
Due: eslint

Reset UA state before reconnection
  src/web-rtc-client.js
Due: eslint

Add more information in sound events
  src/domain/Phone/WebRTCPhone.js
Due: eslint

Retry all failed logs creation
  src/service/IssueReporter.js
Due: eslint

Update callSession for mute/unmute
  src/domain/Phone/WebRTCPhone.js
Due: eslint

Do not store logs anymore
  src/service/IssueReporter.js
Due: eslint

Fix typos
  src/domain/Phone/WebRTCPhone.js
Due: eslint

Handle code review
  src/web-rtc-client.js
Due: eslint

readme: update transfer docs
  README.md
Due: none

0.34.27
  package.json
Due: none

Feed callSession to room's screensharing
  src/simple/Phone.js
  src/simple/room/Room.js
Due: eslint

Add monaco in countries list
  src/domain/Country.js
Due: eslint

Fix some sentry issues
  src/domain/Phone/WebRTCPhone.js
  src/simple/room/Room.js
  src/web-rtc-client.js
Due: eslint

Use `resume` instead of `unhold`
  README.md
  src/simple/Phone.js
  src/simple/room/Participant.js
  src/simple/room/Room.js
Due: eslint

Add room hold
  src/simple/room/Participant.js
  src/simple/room/Room.js
Due: eslint

Add warning to
  src/domain/Phone/WebRTCPhone.js
Due: eslint

tick, tick, tick, ...
  src/domain/Phone/WebRTCPhone.js
Due: eslint

0.34.28
  package.json
Due: none

Fix answering a canceled call
  src/domain/Phone/WebRTCPhone.js
  src/web-rtc-client.js
Due: eslint

Do not play ring sound for inbound call after a hangup
  src/domain/Phone/WebRTCPhone.js
Due: eslint

Send BYE after REFER
  src/domain/Phone/WebRTCPhone.js
Due: eslint

0.34.29
  package.json
Due: none

Fix call answered elsewhere behaviour
  src/domain/Phone/WebRTCPhone.js
  src/simple/index.js
  src/web-rtc-client.js
Due: eslint

0.34.30
  package.json
Due: none

Redisplay incoming call when an ongoing/incoming call is terminated
  src/domain/Phone/WebRTCPhone.js
Due: eslint

0.34.31
  package.json
Due: none

Fix multi calls
  src/domain/Phone/WebRTCPhone.js
  src/web-rtc-client.js
Due: eslint
