Repository wazo-platform/wazo-js-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, jsonlint --quiet

.lintstagedrc:

{
  "*.js": ["eslint", "git add"],
  ".*rc": ["jsonlint --quiet", "git add"]
}

Log transport errors
  src/web-rtc-client.js
Due: eslint

0.38.15
  package.json
Due: none

dird: add single personal contact retrieval route
  src/api/dird.js
Due: eslint

0.38.16
  package.json
Due: none

feat: add react to chat message
  src/domain/ChatMessage.js
Due: eslint

Allow to pass params to chatd getMessages API
  src/api/chatd.js
Due: eslint

0.38.17
  package.json
Due: none

Handle early media stream when receiving a 183 message
  src/domain/Phone/WebRTCPhone.js
  src/web-rtc-client.js
Due: eslint

Fix linting
  src/web-rtc-client.js
Due: eslint

0.38.18
  package.json
Due: none

Ensure early stream exists before attaching it
  src/web-rtc-client.js
Due: eslint

0.38.19
  package.json
Due: none

Fix issues with stream session id retrieval
  src/web-rtc-client.js
Due: eslint

0.38.20
  package.json
Due: none

Send CallSession in earlyMedia event
  src/domain/Phone/WebRTCPhone.js
  src/web-rtc-client.js
Due: eslint

0.38.21
  package.json
Due: none

fix meeting authorizations parsing issue
  src/api/confd.js
Due: eslint

Remove unused audioContext
  src/web-rtc-client.js
Due: eslint

0.38.22
  package.json
Due: none

Remove Softphone from the SDK
  README.md
  src/simple/Softphone.js
  src/simple/index.js
Due: eslint

Allow SDK to be compatible with service worker
  src/service/IssueReporter.js
  src/simple/Websocket.js
  src/utils/api-requester.js
Due: eslint

Update confd.js
  src/api/confd.js
Due: eslint

adding two space
  src/api/confd.js
Due: eslint

Ditch Flow code & introduce Typescript
  .eslintrc
  babel.config.js
  package.json
  rollup.config.js
  tsconfig.json
  yarn.lock
Due: eslint, jsonlint --quiet

Various config (wip)
  .eslintignore
  .eslintrc
  package.json
  tsconfig.json
  yarn.lock
Due: jsonlint --quiet

Remove Flow-related files
  .flowconfig
  flow-typed/npm/babel-core_vx.x.x.js
  flow-typed/npm/babel-loader_vx.x.x.js
  flow-typed/npm/babel-preset-env_vx.x.x.js
  flow-typed/npm/babel-preset-flow_vx.x.x.js
  flow-typed/npm/cross-fetch_vx.x.x.js
  flow-typed/npm/documentation_vx.x.x.js
  flow-typed/npm/eslint-config-airbnb-base_vx.x.x.js
  flow-typed/npm/eslint-config-prettier_vx.x.x.js
  flow-typed/npm/eslint-plugin-import_vx.x.x.js
  flow-typed/npm/eslint-plugin-prettier_vx.x.x.js
  flow-typed/npm/eslint_vx.x.x.js
  flow-typed/npm/flow-bin_v0.x.x.js
  flow-typed/npm/flow-typed_vx.x.x.js
  flow-typed/npm/husky_vx.x.x.js
  flow-typed/npm/immutable_v3.8.x.js
  flow-typed/npm/jest_v23.x.x.js
  flow-typed/npm/js-base64_vx.x.x.js
  flow-typed/npm/jsonlint_vx.x.x.js
  flow-typed/npm/lint-staged_vx.x.x.js
  flow-typed/npm/prettier-eslint-cli_vx.x.x.js
  flow-typed/npm/reconnecting-websocket_vx.x.x.js
  flow-typed/npm/rollup-plugin-node-resolve_vx.x.x.js
  flow-typed/npm/rollup-plugin-terser_vx.x.x.js
  flow-typed/npm/rollup-plugin-uglify_vx.x.x.js
  flow-typed/npm/rollup-plugin-visualizer_vx.x.x.js
  flow-typed/npm/rollup_vx.x.x.js
  flow-typed/npm/sip.js_vx.x.x.js
  flow-typed/npm/webpack-bundle-analyzer_vx.x.x.js
  flow-typed/npm/webpack-cli_vx.x.x.js
  flow-typed/npm/webpack_vx.x.x.js
Due: eslint

Third round of manual fixes (with bogus SIP.js wrapper classes)
  src/domain/CallSession.ts
  src/domain/Phone/WebRTCPhone.ts
  src/domain/sip.js/Invitation.ts
  src/domain/sip.js/Inviter.ts
  src/domain/sip.js/Registerer.ts
  src/domain/sip.js/Session.ts
  src/lib/WazoSessionDescriptionHandler.ts
  src/simple/Phone.ts
  src/utils/sdp.ts
  src/web-rtc-client.ts
  tsconfig.json
Due: none

Manual fixes
  .eslintrc
  src/__tests__/api-client.test.ts
  src/api/auth.ts
  src/api/chatd.ts
  src/api/confd.ts
  src/api/dird.ts
  src/checker/Checker.ts
  src/checker/checks/aor.ts
  src/checker/checks/api.ts
  src/domain/Contact.ts
  src/domain/Phone/CTIPhone.ts
  src/domain/Phone/WebRTCPhone.ts
  src/service/IssueReporter.ts
  src/service/getApiClient.ts
  src/simple/Auth.ts
  src/simple/room/Room.ts
  src/utils/api-requester.ts
  src/web-rtc-client.ts
  tsconfig.json
Due: jsonlint --quiet

Add a few TS types
  package.json
  yarn.lock
Due: none

Remove $FlowFixMe
  src/checker/checks/ice-ipv4.ts
  src/domain/AdHocAPIConference.ts
  src/domain/CallSession.ts
  src/domain/Contact.ts
  src/domain/Phone/WebRTCPhone.ts
  src/domain/SipLine.ts
  src/domain/__tests__/Contact.test.ts
  src/domain/__tests__/Meeting.test.ts
  src/domain/__tests__/Session.test.ts
  src/lib/WazoSessionDescriptionHandler.ts
  src/service/IssueReporter.ts
  src/simple/Auth.ts
  src/simple/Phone.ts
  src/simple/Softphone.ts
  src/simple/Websocket.ts
  src/simple/room/Room.ts
  src/simple/room/Stream.ts
  src/simple/utils.ts
  src/utils/api-requester.ts
  src/utils/update-from.ts
  src/web-rtc-client.ts
  src/websocket-client.ts
Due: none

TS-only compiling solution (wip)
  package.json
  tsconfig.cjs.json
  tsconfig.esm.json
  tsconfig.json
Due: none

wip
  jest.config.js
  package.json
  src/__tests__/api-client.test.ts
  src/__tests__/web-rtc-client.test.ts
  src/domain/Meeting.ts
  src/domain/Session.ts
  src/domain/__tests__/Agent.test.ts
  src/domain/__tests__/Contact.test.ts
  src/domain/__tests__/Meeting.test.ts
  src/domain/__tests__/Room.test.ts
  src/domain/__tests__/Session.test.ts
  src/service/__tests__/IssueReporter.test.ts
  src/simple/room/__tests__/Participant.test.ts
  src/simple/room/__tests__/RemoteParticipant.test.ts
  src/utils/__tests__/api-requester.test.ts
  src/utils/__tests__/sdp.test.ts
  src/utils/__tests__/string.test.ts
  tsconfig.json
  yarn.lock
Due: eslint

Ditch webpack
  package.json
  rollup.config.js
  webpack.config.js
  yarn.lock
Due: eslint

domain/Session TS fixes
  src/domain/Session.ts
Due: none

Rename swarm public key
  config.ts
Due: none

Rebase fixes
  src/simple/Softphone.ts
  src/simple/index.ts
  yarn.lock
Due: none
