Repository wazo-platform/wazo-js-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, jsonlint --quiet

.lintstagedrc:

{
  "*.js": ["eslint", "git add"],
  ".*rc": ["jsonlint --quiet", "git add"]
}

Fix missing links to @wazo/sip.js
  src/index.js
  src/lib/MobileSessionDescriptionHandler.js
  src/sip.js
Due: eslint

Move video helpers to SDK
  src/domain/Phone/WebRTCPhone.js
  src/web-rtc-client.js
Due: eslint

0.29.0-rc1
  package.json
Due: none

0.29.0-rc2
  package.json
  yarn.lock
Due: none

Use a setImmediate to get peerConnection of the sipSession after a makeCall
  src/domain/Phone/WebRTCPhone.js
Due: eslint

0.29.0-rc3
  package.json
Due: none

Allow UA config overrides
  src/web-rtc-client.js
Due: eslint

0.29.0-rc4
  package.json
Due: none

Fix check on MediaStream retrieval
  src/web-rtc-client.js
Due: eslint

0.29.0-rc5
  package.json
Due: none

Fix getApiClient cache mechanism
  src/service/getApiClient.js
Due: eslint

0.29.0-rc6
  package.json
Due: none

Add evetns as constants in webRtcPhone
  src/domain/Phone/WebRTCPhone.js
  src/web-rtc-client.js
Due: eslint

Remove console log
  src/service/getApiClient.js
Due: eslint

0.29.0-rc7
  package.json
Due: none

Add simplified SDK
  .eslintrc
  .flowconfig
  package.json
  src/domain/Phone/WebRTCPhone.js
  src/index.js
  src/simple/Auth.js
  src/simple/Phone.js
  src/simple/Websocket.js
  src/simple/index.js
  src/simple/room/LocalParticipant.js
  src/simple/room/Participant.js
  src/simple/room/RemoteParticipant.js
  src/simple/room/Room.js
  yarn.lock
Due: eslint, jsonlint --quiet

0.30.0-rc9
  package.json
Due: none

Fix participant muting audio event
  src/simple/room/Room.js
Due: eslint

Make Wazo global
  src/api/auth.js
  src/simple/Auth.js
  src/simple/index.js
Due: eslint

0.30.0-rc10
  package.json
Due: none

Fix some issues with simplidifed sdk
  src/domain/Phone/WebRTCPhone.js
  src/simple/room/Participant.js
  src/simple/room/Room.js
Due: eslint

Introduce Stream class
  src/simple/index.js
  src/simple/room/Participant.js
  src/simple/room/Room.js
  src/simple/room/Stream.js
Due: eslint

0.30.0-rc11
  package.json
Due: none

0.30.0-rc12
  package.json
Due: none

Fix Websocvket events unbinding
  src/simple/Auth.js
  src/simple/Websocket.js
Due: eslint

0.30.0-rc13
  package.json
Due: none

Introduce Wazo.createLocal[Audio/Video]Stream
  src/simple/index.js
  src/simple/room/Participant.js
  src/simple/room/Stream.js
  src/simple/utils.js
Due: eslint

0.30.0-rc14
  package.json
Due: none

Use sip.js 0.15.11 instead of wazo/sip.js
  package.json
  src/index.js
  src/lib/MobileSessionDescriptionHandler.js
  src/sip.js
  src/web-rtc-client.js
  yarn.lock
Due: eslint

0.30.0-rc15
  package.json
Due: none

Use sip.js 0.15.11 to avoid using wazo/sip.js
  src/domain/Phone/WebRTCPhone.js
  src/simple/room/Room.js
Due: eslint

0.30.0-rc16
  package.json
Due: none

Update sdh to handle reinvite without constraint changes
  src/lib/MobileSessionDescriptionHandler.js
Due: eslint

0.30.0-rc17
  package.json
Due: none

Fix registration issue on mobile when background or killed
  src/domain/Phone/WebRTCPhone.js
  src/web-rtc-client.js
Due: eslint

0.30.0-rc18
  package.json
Due: none

Fix webRtcClient ua.stop()
  src/web-rtc-client.js
Due: eslint

0.30.0-rc19
  package.json
Due: none

Reverse local video
  src/simple/room/Stream.js
Due: eslint

0.30.0-rc20
  package.json
Due: none
